html, body {

    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    color: #1f4568;
    max-width: 100%;

    /* line-height: 1.75; */
    font-size: 1.1em;

}
.pattern {
    background-color: rgba(229, 229, 247, 0.1);

    background-image:
        linear-gradient(rgba(68, 76, 247, 0.1) 1.4px, transparent 1.4px),
        linear-gradient(
        to right,
        rgba(68, 76, 247, 0.1) 1.4px,
        rgba(229, 229, 247, 0.1) 1.4px
        );

    background-size: 28px 28px;
    /* padding: 1px; */
    min-height: 100vh;
    padding-top: 4em;
    padding-bottom: 100px;

}
h1 {
    text-align: center;
    margin: 0;
}
.whatsapp{
    width: 1.5em;
    height: 1.5em;
    vertical-align: -0.125em;
    fill: green;
}
.header{
    display: flex; 
    align-items: center;
    justify-content: center
}
h2{
    font-size: 1em;
    color: green;
}
a{
    text-decoration: none;
    color: green;
    
}
p{
    text-align: center;
    font-size: 0.9em;
    margin: 0
}
li{
    font-size: 0.9em;
}

.btn{
  background-color:#3a9fff;
  border-radius: 20px;
  padding: 10px 25px;
  color: #fff;
  box-shadow: 0px 18px 13px -6px rgba(0, 0, 0,0.2);

/* margin: 0 90px; */
}


.btn:hover{
box-shadow: 0px 25px 18px -6px rgba(0, 0, 0,0.2);
background-color: #63b2fc;
color: #fff;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h3{
    text-align: center;
    margin: 0;
    margin-top: 20px;
}

.servicos{
    display: flex;
    justify-content: center;
    
}

@media (min-width: 850px){

    .secao{
        display: flex;
        justify-content: center;
    }
}

.diferenciais {
    margin-top: 20px;
    display: grid;
    gap: 10px;
    max-width: 700px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    /* place-items: center; */
    place-content: center;
}


.card{
    padding: 30px;
    /* border: 1px solid black;
    border-radius: 10px; */
    margin: 0 10px;


}

.card-titulo{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
}

h4{
    margin: 0;
}

.btn-final{
    margin-top: 20px;
}

.whats-fixo{
    width: 2.5em;
    height: 2.5em;
    vertical-align: -0.125em;

    position: sticky;
    top: 85%;
    left: 85%;

}

.whats-btn{
    width: 1.5em;
    height: 1.5em;
    vertical-align: -0.4em;
}

.marca{
    width: 300px;  
}